.forum-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;

  &__title {
    font-family: VT323;
    font-style: normal;
    line-height: 120%;
    letter-spacing: -0.5px;
    text-align: center;
    vertical-align: middle;
    color: rgba(254, 96, 3, 1);
  }

  &__topics {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}
