@import "colors";

body {
  margin: 0;
}

@font-face {
  font-family: 'VT323';
  src: url('./assets/fonts/VT323-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#root {
  display: flex;
  height: 100vh;
  width: 100%;
}

.container {
  width: 100%;
  padding: 16px;

  &--error, &--about {
    max-width: 652px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    margin: 0 auto;

    p {
      font-family: "Inter", sans-serif;
      font-size: 1rem;
      line-height: 150%;
      letter-spacing: 0.15px;
      text-align: center;
    }
  }

  &--game-over {
    background: $violet-light;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;

    p {
      color: white;
      font-family: 'Inter', sans-serif;
      font-size: 1.5rem;
      vertical-align: middle;
      margin: 0;
      line-height: 133%;
      letter-spacing: 0;
      text-align: center;

    }
  }

  &--about {
    gap: 64px;

    .main-block {
      display: flex;
      flex-direction: column;
      gap: 16px;
      align-items: center;

      img {
        width: 96px;
        aspect-ratio: 1/1;
      }
    }
  }

  &--start {
    max-width: 652px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    margin: 0 auto;

    .button {
      height: 53px;
    }

    div {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 16px;
    }
  }

  &--play {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: $darkest;
    padding: 0;

    h1 {
      position: fixed;
      top: 5vh;
      left: 5vw;
    }

    .count {
      display: flex;
      flex-direction: column;
      gap: 16px;

      &-life {
        display: flex;
        gap: 4px;
        font-size: 14px;
        line-height: 16px;
      }
    }
  }

  &-profile {
    gap: 48px;
    max-width: 422px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;

    & .profile {
      &-user {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        width: 100%;

        p {
          font-family: 'Inter', sans-serif;
          font-size: 20px;
          line-height: 20px;
          letter-spacing: 0.14px;
          text-align: center;
          vertical-align: middle;
        }

        label {
          cursor: pointer;
          display: flex;
          align-items: center;
          gap: 16px;

          input {
            display: none;
          }

          p {
            color: $primary-main;
            font-family: 'Inter', sans-serif;
            font-size: 1rem;
            line-height: 150%;
            letter-spacing: 0.15px;
            vertical-align: middle;
            text-decoration: underline;
          }

          img {
            border-radius: 100%;
            width: 40px;
            height: 40px;
            object-fit: cover;
            object-position: center;
          }
        }
      }
    }
  }
}

h1 {
  margin: 0;

  &.error {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    color: $secondary-main;
    font-size: 252px;
    line-height: 117%;
    letter-spacing: -1.5px;
  }

  &.title {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    color: $secondary-main;
    font-size: 6rem;
    line-height: 117%;
    letter-spacing: -1.5px;
    text-align: center;

    &--white {
      color: white;
    }
  }
}
