$secondary-main: #FE6003
$primary-contrastText: #FFFFFF
$violet-light: #B47AFF

// Текстовые цвета
$text-primary: rgba(0, 0, 0, 0.87)
$text-secondary: rgba(0, 0, 0, 0.6)
$text-disabled: rgba(0, 0, 0, 0.38)

// Primary
$primary-main: rgba(134, 45, 249, 1)
$primary-dark: rgba(78, 22, 150, 1)
$primary-darkest: rgba(36, 7, 74, 1)
$primary-light: rgba(180, 122, 255, 1)
$primary-contrastText: rgba(255, 255, 255, 1)
$primary-hover: rgba(25, 118, 210, 0.04)
$primary-selected: rgba(25, 118, 210, 0.08)
$primary-focus: rgba(25, 118, 210, 0.12)
$primary-focusVisible: rgba(25, 118, 210, 0.3)
$primary-outlinedBorder: rgba(25, 118, 210, 0.5)

// Secondary
$secondary-main: rgba(254, 96, 3, 1)
$secondary-dark: rgba(242, 74, 0, 1)
$secondary-light: rgba(255, 145, 80, 1)
$secondary-contrastText: rgba(255, 255, 255, 1)

// Error
$error-main: rgba(211, 47, 47, 1)
$error-dark: rgba(198, 40, 40, 1)
$error-light: rgba(239, 83, 80, 1)
$error-contrastText: rgba(255, 255, 255, 1)

// Warning
$warning-main: rgba(246, 243, 40, 1)
$warning-dark: rgba(230, 81, 0, 1)
$warning-light: rgba(255, 152, 0, 1)
$warning-contrastText: rgba(255, 255, 255, 1)

// Info
$info-main: rgba(2, 136, 209, 1)
$info-dark: rgba(1, 87, 155, 1)
$info-light: rgba(3, 169, 244, 1)
$info-contrastText: rgba(255, 255, 255, 1)

// Success
$success-main: rgba(46, 125, 50, 1)
$success-dark: rgba(27, 94, 32, 1)
$success-light: rgba(76, 175, 80, 1)
$success-contrastText: rgba(255, 255, 255, 1)
